name: Tests

on:
  pull_request:
  push:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ["8.0", "8.1", "8.2"]

    name: Tests - PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2

      - name: Setup Laravel Nova Credentials
        run: composer config http-basic.nova.laravel.com ${NOVA_USERNAME} ${NOVA_LICENSE_KEY}
        env:
          NOVA_USERNAME: ${{ secrets.NOVA_USERNAME }}
          NOVA_LICENSE_KEY: ${{ secrets.NOVA_LICENSE_KEY }}

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Install composer dependencies
        run:
          composer install --no-ansi --no-interaction --no-scripts --prefer-dist
          --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit --verbose
